.row-buffer {
	margin-top: 50px;
	margin-bottom: 50px;
}

.nav-custom {
	margin-top: 20px;
	margin-bottom: 20px;
}

.left-custom {
	float: left;
}

.justify-project {
	display: flex;
	justify-content: center;
}